/* Color Theme Swatches in Hex */
.Travel-1-hex {
  color: #034c8c;
}
.Travel-2-hex {
  color: #70735d;
}
.Travel-3-hex {
  color: #f2b705;
}
.Travel-4-hex {
  color: #f29f05;
}
.Travel-5-hex {
  color: #f28705;
}

/* Color Theme Swatches in RGBA */
.Travel-1-rgba {
  color: rgba(2, 76, 140, 1);
}
.Travel-2-rgba {
  color: rgba(112, 114, 92, 1);
}
.Travel-3-rgba {
  color: rgba(242, 182, 4, 1);
}
.Travel-4-rgba {
  color: rgba(242, 159, 4, 1);
}
.Travel-5-rgba {
  color: rgba(242, 135, 4, 1);
}

/* Color Theme Swatches in HSLA */
.Travel-1-hsla {
  color: hsla(208, 96, 28, 1);
}
.Travel-2-hsla {
  color: hsla(67, 10, 40, 1);
}
.Travel-3-hsla {
  color: hsla(45, 96, 48, 1);
}
.Travel-4-hsla {
  color: hsla(39, 96, 48, 1);
}
.Travel-5-hsla {
  color: hsla(33, 96, 48, 1);
}
