:root {
  --clr-logo: #f29f05;
  --clr-primary: #fc3;
  --clr-secondary: #034c8c;

  --txt-dark: black;
  --txt-light: white;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: var(--txt-dark);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

input,
textarea,
button {
  display: block;
  width: 100%;
  font-size: 1.8rem;
  border: none;
  box-sizing: border-box;
  padding: 2rem;
  margin-top: 20px;
  background-color: #ebebeb;
}

textarea {
  resize: none;
}

input:focus,
textarea:focus {
  outline: var(--clr-secondary) solid 2px;
}

button {
  background-color: #034c8c;
  font-weight: bold;
  cursor: pointer;
  color: var(--txt-light);
  transition: 0.2s;
  margin-top: 50px;
}

button:hover {
  box-shadow: 4px 4px 10px rgba(32, 32, 32, 0.8);
  transition: 0.2s;
}

form {
  width: 100%;
}

/* Defaults */
section .content,
footer .content {
  margin: 0 auto;
  max-width: 1200px;
}

/* Nav */
nav {
  border-bottom: 2px solid black;
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  top: 0;
}

nav ul {
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

nav ul a {
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  color: var(--txt-dark);
}

nav ul a:hover {
  border-bottom: 2px solid black;
  margin-top: 2px;
}

nav ul a.logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--clr-logo);
}

nav ul a.logo:hover {
  border-bottom: none;
  margin-top: 0;
}

nav ul li {
  padding: 1rem 0;
}

nav ul li:first-child {
  margin-right: auto;
}

nav .btn-link {
  border: 2px solid var(--txt-dark);
  font-weight: bold;
}

nav .btn-link:hover {
  background-color: var(--clr-primary);
}

nav .btn-link--primary {
  background-color: var(--clr-primary);
}

nav .btn-link--primary:hover {
  background-color: var(--clr-logo);
}

nav .btn-link:hover {
  margin-top: 0;
}

/* Hero */
section.hero {
  margin-top: 70px;
  margin-bottom: 100px;
}

section.hero .highlight {
  color: var(--clr-logo);
}

section.hero .content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 1500px;
}

section.hero .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: white;
  grid-column: 1 / 5;
  grid-row: 1 / 3;
}

section.hero .description h1 {
  font-size: 8rem;
  font-weight: 900;
}

section.hero .description p {
  font-size: 2rem;
  line-height: 1.5;
}

section.hero img {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

section.hero .destination--philippines {
  grid-column: 6 / 9;
  grid-row: 1 / 3;
  height: auto;
}

section.hero .destination--japan {
  grid-column: 4 / 6;
  grid-row: 3 / 4;
}

section.hero .destination--south-korea {
  grid-column: 1 / 3;
}

section.hero .destination--thailand {
  grid-column: 8 / 9;
}

section.hero .destination {
  overflow: hidden;
  cursor: pointer;
}

section.hero .destination:hover > img {
  transform: scale(1.2);
  transition: 0.2s;
}

/* Places */
section.places {
  background-color: var(--clr-primary);
  padding: 100px 0;
}

section.places .content {
  max-width: 1000px;
}

section.places .intro {
  text-align: center;
  margin: 100px 0;
}

section.places .intro h2,
section.book-now .content h2 {
  font-size: 5rem;
  font-weight: 900;
}

section.places .intro p,
section.book-now .content p {
  font-size: 2rem;
  line-height: 1.5;
  padding: 20px 0;
  max-width: 70%;
  margin: 0 auto;
}

section.places .place {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 1.8rem;
}

section.places .divider {
  border: 1px solid var(--txt-dark);
  width: 100%;
}

section.places .place-title {
  display: flex;
  align-items: center;
}

section.places .place-description {
  border-left: 2px solid var(--txt-dark);
  padding: 2rem;
  line-height: 1.5;
}

section.places .img-container {
  height: 300px;
}

section.places .place-description p {
  padding-top: 20px;
  padding-bottom: 100px;
}

/* Book now */
section.book-now {
  background-color: var(--clr-logo);
  padding: 200px 0;
  color: white;
  position: relative;
}

section.book-now::before,
section.book-now video {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.book-now::before {
  background-color: #70735d;
  z-index: 3;
  opacity: 0.4;
}

section.book-now video {
  object-fit: cover;
}

section.book-now .content h2 {
  font-size: 5rem;
  font-weight: 900;
}

section.book-now .content {
  padding: 100px 0;
  text-align: center;
  position: relative;
  z-index: 4;
}

section.book-now .content a {
  display: block;
  font-size: 2rem;
  padding: 2rem 2rem;
  text-decoration: none;
  margin: 50px auto;
  width: 300px;
  color: var(--clr-logo);
  font-weight: bold;
  background-color: white;
}

section.book-now .content a:hover {
  background-color: black;
  color: #f3f3f3;
}

/* Contact */
section.contact {
  position: relative;
  background-color: var(--clr-secondary);
}

section.contact img,
section.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section.contact::after {
  background-color: var(--clr-secondary);
  opacity: 0.5;
}

section.contact .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  z-index: 2;
}

section.contact .content > div {
  padding: 100px 50px;
  text-align: center;
}

section.contact .content .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 220%;
  line-height: 1.5;
  gap: 2rem;
  padding: 0 50px;
  color: var(--txt-light);
}

section.contact .content .contact-form {
  background-color: var(--txt-light);
}

section.contact .content .contact-form h3 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: var(--clr-secondary);
}

/* Credit */

.img-container {
  position: relative;
}

.img-container > .credit {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  line-height: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.img-container > .credit > * {
  color: white;
  font-size: 120%;
}

.img-container:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
}

.img-container:hover > .credit {
  z-index: 99;
  visibility: visible;
}

.credit-br {
  padding: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.img-container--no-blur:hover::after {
  backdrop-filter: none;
}

.img-container--no-blur a {
  display: block;
  color: var(--txt-light);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
}

.img-container--no-blur > .credit--no-blur {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  align-items: baseline;
  z-index: 9;
  color: var(--txt-light);
}

.img-container--no-blur > .credit--no-blur > * {
  display: inline;
}

section.book-now .credit-video a {
  color: var(--txt-light);
}

section.book-now .credit-video {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 99;
  padding: 30px;
  font-size: 150%;
}

section.book-now .credit-video > * {
  color: var(--txt-light);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.9);
}

/* Footer */
footer {
  background-color: var(--clr-primary);
  color: var(--txt-light);
}

footer .content {
  list-style-type: none;
  padding: 100px 0;
}

footer .content .credits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer a {
  display: block;
  color: var(--txt-dark);
  font-size: 1.5rem;
  text-decoration: none;
  line-height: 2;
}

footer h3 {
  color: var(--txt-dark);
  font-size: 3rem;
  padding: 40px 0;
}

footer h4 {
  color: var(--txt-dark);
  font-size: 2rem;
  margin-bottom: 20px;
}

footer a:hover {
  text-decoration: underline;
}

footer .credit-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  margin-bottom: 8px;
}

footer span {
  font-size: 2rem;
  color: var(--txt-dark);
}

footer span h4 > span {
  margin-right: 10px;
}

footer a:hover span {
  text-decoration: none;
}

footer .creator {
  grid-column: 4 / 5;
}

/* Book flight */
section.book-flight {
  position: relative;
  background-color: var(--clr-primary);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.book-flight::after,
.background-color {
  content: "";
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
}

section.book-flight::after {
  background-image: url("../images/vacation.jpg");
}

.background-color {
  background-color: black;
  opacity: 0.4;
  z-index: 2;
}

section.book-flight .content {
  max-width: 1500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  line-height: 1.2;
  font-size: 170%;
  align-items: center;
}

section.book-flight .form-container {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  z-index: 2;
}

section.book-flight .call-out {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--txt-light);
  margin-bottom: 50px;
}

section.book-flight small {
  display: block;
  color: var(--txt-light);
  margin-bottom: 5px;
}

section.book-flight span {
  font-size: 150%;
  font-weight: bolder;
}

section.book-flight input {
  width: 600px;
}

section .inline-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

section.book-flight .inline-form {
  display: flex;
  width: 600px;
}

section.book-flight .inline-form input {
  display: inline-block;
  width: auto;
}

section.book-flight label {
  color: var(--txt-light);
}

section.book-flight a:hover {
  text-decoration: none;
}

/* section.book-flight .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid black;
  background-color: var(--txt-light);
  margin-bottom: 20px;
} */

section .input-container {
  width: 100%;
}

section.book-flight .input-container p {
  padding: 1.5rem;
}

section.book-flight .fa-solid {
  display: block;
  padding: 1rem 2rem;
  border-left: 1px solid gray;
}

section.book-flight .inline-form {
  display: flex;
  gap: 20px;
}

section.book-flight .banner {
  grid-row: 2 / 3;
  grid-column: 4 / 11;
  z-index: 99;
}

.beach {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
}

.background-color {
  width: 100%;
}

.button {
  padding: 2rem;
  font-weight: bold;
  width: 300px;
  text-align: center;
  margin-top: 20px;
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  cursor: pointer;
}

.button:hover {
  color: var(--txt-light);
  background-color: var(--clr-primary);
}

/* Accounts */
section.account {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

section.account .content {
  padding: 50px 20px;
  border: 2px solid var(--txt-dark);
}

section.account form {
  width: 400px;
  padding: 50px 20px;
}

section.account input {
  margin-top: 0;
}

section label {
  display: block;
  font-size: 1.5rem;
}

section.account h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
}

section button {
  margin-bottom: 30px;
  background-color: var(--clr-primary);
  color: var(--txt-dark);
}
section input:focus {
  outline: var(--clr-primary) solid 2px;
}

section a {
  text-align: center;
  display: block;
  font-size: 1.5rem;
  color: var(--txt-dark);
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

section .input-container {
  text-align: left;
  margin-bottom: 20px;
}

/* Details */
section.details {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

section.details .content {
  min-width: 1200px;
}

section.details .input-container--gender {
  display: flex;
  align-items: center;
  width: 100px;
}

section.details .input-container--gender input {
  display: inline-block;
  width: auto;
  margin: 0;
  transform: scale(1.5);
}

section.details .input-container--gender label {
  margin-right: 20px;
}

section.details .input-container--inline .gap {
  height: 100%;
  align-items: center;
  display: flex;
}

section.details h2 {
  font-size: 3rem;
  padding: 50px 0;
  border-bottom: 2px solid var(--txt-dark);
}

section.details h3 {
  font-size: 2rem;
  padding: 20px 0;
}

section.details .content > div {
  padding: 20px 0;
  border-bottom: 2px solid var(--txt-dark);
}

section.details .content > div.submit {
  border: none;
}
